<h1>Workouts</h1>
    <div class="col-md-9 col-xs-12">
<div class='list-group ' >
  <% @workouts.each do |workout| %>
  <!-- BIKE -->
  <% if workout.verb == 'bike' %>
    <div class='list-group-item'>
      <div>
        <!-- <img src='http://claimyourjourney.com/wp-content/uploads/2012/06/bike.jpg' width='100%' height='100%'> -->
      </div>
      <div>
          <h3><%= workout.title %></h3><br>
          <%= workout.description %>
          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-<%=workout.id%>">
            Log Workout
          </button>
      </div>
    </div>
    <!-- RUN -->
    <% elsif workout.verb == 'run' %>
      <div class='list-group-item'>
        <div>
          <!-- <img src='https://c1.staticflickr.com/5/4074/4879698252_d0581d68dd_b.jpg' width='100%' height='100%'> -->
        </div>
        <div>
            <h3><%= workout.title %></h3><br>
            <%= workout.description %>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-<%=workout.id%>">
              Log Workout
            </button>
        </div>
      </div>
      <!-- SWIM -->
      <% elsif workout.verb == 'swim' %>
        <div class='list-group-item'>
          <div>
            <!-- <img src='http://www.nbcolympics.com/sites/default/files/styles/951x536_rectangle/public/field_image/06August2016/maya-dirado-usatsi_8016584.jpg' width='100%' height='100%'> -->
          </div>
          <div>
              <h3><%= workout.title %></h3><br>
              <%= workout.description %>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-<%=workout.id%>">
                Log Workout
              </button>
          </div>
        </div>
  <% end %>
</div>


    <div class="modal fade" id="modal-<%=workout.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">My Workout</h4>
          </div>
          <div class="modal-body">
            <h3><%= workout.title %></h3>
            It took me <%= form_for @result, url: "/users/:id/results", method: :post  do |f| %>
             <%= f.text_field :qty %>
             <%= workout.unit_of_competition %>
             <%= f.hidden_field :user_id, :value => current_user.id %>
             <%= f.hidden_field :workout_id, :value => workout.id %>
             <%= f.hidden_field :unit, :value => workout.unit_of_competition %>
            <%= f.submit %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>
