<h1>WELCOME TO SWOLEMATES, BIATCH</h1>
<div class='wrapper'>
<h3> Please sign up! </h3>
<div class="col-xs-5 register">
<%= form_for (@user = User.new), :html => { :multipart => true } do |f| %>
    <div class="container well col-xs-12 small-container">
        <div class="bold col-xs-12">
            First Name
        </div>
        <div class="col-xs-12">
            <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Last Name
        </div>
        <div class="col-xs-12">
            <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="bold col-xs-12">
            Gender
        </div>
        <div class="col-xs-12">
            <%= f.select :gender, [['male'],['female']], class: "form-control" %>
            <!-- <%= f.label :gender, "Male", :value => "male"  %>
            <%= f.radio_button :gender, 'Male' %>
            <%= f.label :autolyse, "Female", :value => "female" %>
            <%= f.radio_button :gender, 'Female' %> -->
        </div>
        <div class="bold col-xs-12">
            Age
        </div>
        <div class="col-xs-12">
            <%= f.number_field :age, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Favorite Workout
        </div>
        <div class="col-xs-12">
            <%= f.text_field :fav_workout, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Favorite Food
        </div>
        <div class="col-xs-12">
            <%= f.text_field :fav_food, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Email
        </div>
        <div class="col-xs-12">
            <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Password
        </div>
        <div class="col-xs-12">
            <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Upload Profile Picture
        </div>
        <div class="upload-image">
          <%= f.file_field :avatar %>
        </div>
        <div class="col-xs-12">
            <a href="/" class="btn btn-default">Cancel</a>
            <%= f.submit "Create User", class: "btn btn-primary" %>
        </div>
        <div class="margin-top-10">
            <span>Have an account? <a href="#" id="login-link">Login Here</a></span>
        </div>
    </div>
<% end %>
</div>
</div>

<div class='col-xs-7 login'>
<%= form_tag(login_path, id: "login_form") do %>
    <div class="container well col-xs-12 small-container">
        <div class="bold col-xs-12">
            Email
        </div>
        <div class="col-xs-12">
            <%= text_field_tag :email, nil, required: true, class: "form-control" %>
        </div>
        <div class="bold col-xs-12">
            Password
        </div>
        <div class="col-xs-12">
            <%= password_field_tag :password, nil, required: true, class: "form-control" %>
        </div>
        <div class="col-xs-12">
            <a href="/" class="btn btn-default">Cancel</a>
            <%= submit_tag "Log In!", class: "btn btn-primary" %>
        </div>
        <div class="margin-top-10">
            <span>Need to sign up? <a href="#" id="sign-up-link"> Sign up here </a></span>
        </div>
    </div>
<% end %>
</div>
