
    <div class="card hovercard">
        <div class="card-background">
            <%= image_tag @user.avatar.url, class: "card-bkimg" %>
        </div>
        <div class="useravatar">
            <%= image_tag @user.avatar.url %><br>
        </div>
        <div class="card-info">
          <span class="card-title"><%= @user.first_name %></span>
          <br>
          <span class="more-info">
            <b>Swole Since:   </b> <%= @user.created_at.strftime("%B %d, %Y") %><br>
            <b>Food/Diet:   </b> <%= @user.fav_food %><br>
            <b>Favorite Workout:   </b> <%= @user.fav_workout %><br>
            <% if current_user == @user %>
            <button type="button" id="edit-button" class="glyphicon glyphicon-pencil btn btn-default btn-xs" data-toggle="modal" data-target="#modal-edit-profile">
            <% end %>
          </span>


        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div class="hidden-xs">My Recent Workouts</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <div class="hidden-xs">My Challenges</div>
            </button>
        </div>
    </div>

      <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in <%="#{'active' if params[:active_tab] != 'challenges'}"%>" id="tab1">
          <h3>My Recent Workouts</h3>
          <br>

          <% if @user.results.count == 0 %>
          <p><i>Nothing to see here...Work out more!!</i></p>
          <% else %>
              <!-- MOST RECENT WORKOUT FEATURE -->
              <div class="table-container">
                  <table class="table table-filter">
                    <tbody>
                      <tr>
                        <td>
                            <div class="media">
                              <div class="pull-left">
                                <% if @user.results.last.workout.verb == 'run' %>
                                <img src="https://c1.staticflickr.com/5/4074/4879698252_d0581d68dd_b.jpg" class="image">
                                <% elsif @user.results.last.workout.verb == 'bike' %>
                                <img src="http://claimyourjourney.com/wp-content/uploads/2012/06/bike.jpg" class="image">
                                <% elsif @user.results.last.workout.verb == 'swim' %>
                                <img src="http://www.nbcolympics.com/sites/default/files/styles/951x536_rectangle/public/field_image/06August2016/maya-dirado-usatsi_8016584.jpg?itok=i_Wq--A6" class="image">
                                <% end %>
                              </div>

                              <div class="media-body">
                                <h4 class="header">
                                  <span class="workout-title"><%= @user.results.last.workout.title %></span> <%= @user.results.last.workout.created_at.strftime("%m-%d-%Y") %>
                                </h4>
                                <p class="summary">
                                  <i><%= @user.results.last.workout.description %></i>
                                  <br>
                                  <br>
                                  <b style="color:green;">Your Results: </b>
                                  <%= @user.results.last.workout.qty %> <%= @user.results.last.workout.unit %>
                                  in
                                  <%= @user.results.last.qty %> <%= @user.results.last.workout.unit_of_competition %>
                                </p>
                              </div>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- ALL OTHER USER WORKOUTS -->
                  <div class="list-group">
                    <% @user.results.each do |result| %>
                      <div class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading"><span class="workout-title"><%= result.workout.title %></span> <%= result.workout.created_at.strftime("%m-%d-%Y") %> </h5>
                        <p class="list-group-item-text">
                          <span style="color:green;">Your Results: </span>
                          <%= result.workout.qty %> <%= result.workout.unit %> in <%= result.qty %> <%= result.workout.unit_of_competition %>
                          <% if current_user == @user %>
                            <%= link_to results_destroy_path(current_user.id, result.id), method: :delete do %>
                              <span class="pull-right btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                            <% end %>
                          <% end %>
                        </p>
                      </div>
                      <% end %>
                  </div>
                <% end %>
        </div>

        <div class="tab-pane fade in <%="#{'active' if params[:active_tab] == 'challenges'}"%>" id="tab2">
                  <h3 class="challenge-tagline"> My Challenges </h3>
          <br>
          <%= render "partials/index_challenges" %>
          <div class="row">
            <div class="col-md-12 align-center">
              <%= will_paginate @challenges, params: {active_tab: 'challenges'} %><br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <% if current_user == @user %>
        <%= link_to 'Back to Workouts', workouts_path, class: 'btn btn-primary'%>
        <%= link_to 'New Challenege', "#new-challenge-modal", "data-toggle" => "modal", class: 'btn btn-warning' %>
        <% else %>
        <%= link_to 'Back to Your Profile', user_path(current_user), class:'btn btn-primary' %>
      <% end %>

    </div>

    <!-- EDIT PROFILE MODAL -->
    <%= render "partials/edit_modal" %>
