
    <div class="card hovercard">
        <div class="card-background">
            <%= image_tag @user.avatar.url, class: "card-bkimg" %>
        </div>
        <div class="useravatar">
            <%= image_tag @user.avatar.url %><br>
        </div>
        <div class="card-info">
          <span class="card-title"><%= @user.first_name %></span>
          <br>
          <span class="more-info">
            <b>Swole Since:   </b> <%= @user.created_at.strftime("%B %d, %Y") %><br>
            <b>Food/Diet:   </b> <%= @user.fav_food %><br>
            <b>Favorite Workout:   </b> <%= @user.fav_workout %><br>
            <%= link_to edit_user_path(@user) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div class="hidden-xs">Most Recent Workout</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <div class="hidden-xs">Challenges</div>
            </button>
        </div>
    </div>

      <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>Most Recent Workout</h3>
          <br>
          <% if @user.results.count == 0 %>
            <p><i>Nothing to see here...Work out more!!</i></p>
          <% else %>
            <b><%= @user.results.last.workout.title %></b><br>
            <%= @user.results.last.workout.qty %> <%= @user.results.last.workout.unit %><br>
            <%= @user.results.last.qty %> <%= @user.results.last.workout.unit_of_competition %>
          <% end %>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>Challenges</h3>
          <br>
          <% unless @user.challenges.count == 0 %>
            <%= link_to 'View Challenges', challenges_path(@current_user), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <br>
      <%= link_to 'Create New Challenge', new_challenge_path, class: "btn btn-danger" %>

    </div>
