<div><h3>Hello <%= @user.first_name%></h3></div>
<%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>
<div style="float:right">

    <p>Favorite Food: <%= @user.fav_food %></p>
    <p>Favorite Type of Workout: <%= @user.fav_workout %></p>

</div>
Joined: <%= @user.created_at %>
<br>

Most Recent Workout:
<% if @user.results.last %>
	<%= @user.results.last.workout.title || @user.first_name + " hasn't worked out" %>
<% end %>
<br>
<%= link_to "Update Information", edit_user_path %>
<a src='#'>View Challenges</a>
