<h1><%= @result.workout.title %></h1>
<p><%= @user.first_name %></p>
<p>It took you <%= @result.qty %> <%= @result.unit %> to <%= @result.workout.verb %><%= @result.workout.qty %> <%= @result.workout.unit %>
<br><%= link_to 'Back to results', results_path(@user), class: 'btn btn-default' %>
