<h1> Create a Challenge </h1>

<%= form_for @challenge do |f| %>
    <div class="container well margin-top-20 small-container">
        <div class="bold margin-top-20">
            Workout
        </div>
        <div class="margin-top-20">
            <%= f.select :workout_id, @workouts.map {|workout| [workout.title, workout.id]} %>
        </div>
        <div class="bold margin-top-20">
            Opponent
        </div>
        <div class="margin-top-20">
            <%= f.select :opponent_id, @opponents.map {|opponent| ["#{opponent.first_name} #{opponent.last_name}", opponent.id]} %>
        </div>
        <div class="bold margin-top-20">
            My Results
        </div>
        <div class="margin-top-20">
            <%= f.select :result_id, @results.map {|result| [result.workout.title, result.id]} %>
        </div>
        <div class="margin-top-20">
            <%= f.hidden_field :user_id, :value => session[:user_id] %>
        </div>
        <br>
        <div class="margin-top-20">
            <a href="/" class="btn btn-default">Cancel</a>
            <%= f.submit "Create Challenge", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
