<div class="fluid-container">
	<span id='heading'>Battle Royale:</span><span id='title'> <%= @workout.title %></span><br><br>
	<div class="row">
		<div class= 'col-md-4 col-sm-12'>
			<p class= "challengep"><%= image_tag @user.avatar.url(:thumb) %></p>
			<div class='data'>
				<h2 class= "challengep"><%= @user.first_name %> </h2>
				<b class='result'>Result: </b><br>
				<span class='glyph glyphicon glyphicon-time'></span>
				<span class='challengep'><%= @challenge.result.qty %></span><span class='challengep'> <%= @challenge.result.unit %></span>
				<p class= "challengep"><%= "Winner!" if @winner === @user %></p>
				<p class= "challengep"><%= "Loser!" if @winner === @opponent %></p>
				<p class= "challengep"><%= "You Both Suck!" if @winner === 'none' %></p>
			</div>
		</div>

		<div class= 'col-md-4 col-sm-12'>
			<div class='vs'>
				<span><%= @workout.verb.upcase %> <%= @workout.qty %> <%= @workout.unit.upcase %></span>
				<h1 style='font-size:50px; text-align:center;'> VS </h1>
			</div>
		</div>


		<div class= 'col-md-4 col-sm-12'>
			<p class= "challengep"><%= image_tag @opponent.avatar.url(:thumb) %></p>
			<div class='data'><h2 class= "challengep"><%= @opponent.first_name %> </h2>
			<b class='result'>Result: </b><br>
			<% if @opponent_results %>
			<span style='font-size:30px' class='glyph glyphicon glyphicon-time'></span>
		  <span class='challengep' style='font-size:30px'>	<%= @challenge.opponent_results.qty %> <%= @challenge.opponent_results.unit %></span>
			<p class= "challengep" style='font-size:30px'><%= "Loser!" if @winner === @user %></p>
			<p class= "challengep" style='font-size:30px'><%= "Winner!" if @winner === @opponent %></p>
			<p class= "challengep" style='font-size:30px'><%= "You Both Suck!" if @winner === 'none' %></p>
			<% elsif current_user == @opponent%>
					<%= form_for (@result = Result.new), url: challenge_path(@challenge), method: :put  do |f| %>
						<%= f.text_field :qty, class: 'form-control col-xs-2' %>
						<%= @workout.unit_of_competition %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.hidden_field :workout_id, :value => @workout.id %>
						<%= f.hidden_field :unit, :value => @workout.unit_of_competition %>
						<%= f.submit class: "btn btn-success" %>
					<% end %>
			<% else %>
			<p class='challengep'><img style='width:25px !important; height:25px !important; margin-left:12vw;' src='https://1.bp.blogspot.com/-rEeXiV82AUE/VuGkY15TF7I/AAAAAAAAAUk/iBviJW2ebVw/s200/spinningwheel.gif'></p>
			<% end %>
		</div>
		</div>
	</div>
			<% if @challenge.accepted.nil? %>
			<% if current_user == @opponent %>
				<%= link_to "Be a lil bitch (we'll think less of you)", challenge_path(@challenge), {:method => :delete, class: "btn btn-danger inl"}  %>
			<% end %>
			<% end %>
			<br>
<a class="btn btn-primary inl" href='/users/<%= current_user.id %>?active_tab=challenges'>Back to Challenges</a>
</div>
