<div class="fluid-container">
	<h1> Battle Royale: <%= @workout.title %> </h1>
	<div class="row">
		<div class= 'col-md-4 col-sm-12'>
			<p class= "challengep"><%= image_tag @user.avatar.url(:thumb) %></p>
			<h4 class= "challengep"><%= @user.first_name %> </h4>
			<b style='color:green;'>Your Result: </b><br>
			<span style='color:#337ab7;' class='glyphicon glyphicon-time'></span>
			<%= @challenge.result.qty %> <%= @challenge.result.unit %>
			<p class= "challengep"><%= "Winner!" if @winner === @user %></p>
			<p class= "challengep"><%= "Loser!" if @winner === @opponent %></p>
		</div>

		<div class= 'col-md-4 col-sm-12'>
			<span id='vs'><%= @workout.verb %> <%= @workout.qty %> <%= @workout.unit %></span>
			<h1> VS </h1>
		</div>


		<div class= 'col-md-4 col-sm-12'>
			<p class= "challengep"><%= image_tag @opponent.avatar.url(:thumb) %></p>
			<h4 class= "challengep"><%= @opponent.first_name %> </h4>
			<b style='color:green;'>Their Result: </b><br>
			<% if @opponent_results %>
			<span style='color:#337ab7;' class='glyphicon glyphicon-time'></span>
			<%= @challenge.opponent_results.qty %> <%= @challenge.opponent_results.unit %>
			<% else %>
			<p class='challengep'><img style='width:25px !important; height:25px !important; margin-left:12vw;' src='https://1.bp.blogspot.com/-rEeXiV82AUE/VuGkY15TF7I/AAAAAAAAAUk/iBviJW2ebVw/s200/spinningwheel.gif'></p>
			<% end %>
		</div>
	</div>
			<%= link_to "Back to Challenges", user_path(current_user), class: 'btn btn-primary'%>
</div>
