<!DOCTYPE html>
<html>
  <head>
    <title>Swolemates</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAVIGATION -->
    <div class="navbar navbar-inverse navbar-fixed-left">
      <a class="navbar-brand"><%= link_to "Swolemates", root_path %>
      <ul class="nav navbar-nav">
        <li><a href="#">About Swolemates</a></li>
        <li><%= link_to "Workouts", workouts_path %></li>
        <% if current_user %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Your Challenges", root_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
      </ul>
    </div>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
      <%= yield %>
      </div>
    </div>

  </body>
</html>
